<%- include('./layout/header') %>

<section>
    <ul>
        <% data.forEach(data=>{ %>
            <li><%=data.country%></li>
            <li><%=data.total_confirmed%></li>
            <li><%=data.total_deaths%></li>
            <li><%=data.total_recovered%></li>
            <li><%=data.date%></li>

            <form action="/savetodb" method="POST">
            <input type="hidden" name="country" value="<%=data.country%>">
            <input type="hidden" name="total_confirmed" value="<%=data.total_confirmed%>">
            <input type="hidden" name="total_deaths" value="<%=data.total_deaths%>">
            <input type="hidden" name="total_recovered" value="<%=data.total_recovered%>">
            <input type="hidden" name="date" value="<%=data.date%>">
            <button type="submit">Add to my records</button>
            </form>
         <% }) %>
    </ul>
</section>

<%- include('./layout/footer') %>